
// 字体字号
$maxFont: 55px; // 最大字号
$searchFont: 24px;
$navFont: 20px;  // 导航栏字体大小
$headFont: 18px;  // 一级标题字体大小
$titleFont: 16px;     // 二级标题字体大小
$textFont: 14px;  // 正文字体大小
$defaultFont: 12px; // 默认字体大小

// 颜色配置
$defaultColor: #fff; //默认颜色
$mainColor: #0050a5; // 主题色
$fontColor: #272727; // 字体颜色
$titleColor: #000000; // 标题色
